# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
mocks.json
node_modules/
tmp/
src/express/public/img/

# Папка с собранными файлами проекта
build/

# Папка с файлами от пользователей
src/express/public/upload/

# Файл с переменными окружения
.env